.todo-task {
  margin: 10px 0;
  height: 2.5rem;
  width: 19.6rem;
  padding: 0 30px;
  border-radius: 20px;
  border: none;
  vertical-align: middle;
  -webkit-box-shadow: 0px 5px 12px -10px #000000;
  box-shadow: 0px 5px 12px -10px #000000;
  background-color: white;
  color: #000000;
}


.todo-item {
  top: 0.4rem;
  font-size: 1.1rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
}

.btn {
  float: right;
  position: relative;
  top: -1.2rem;
  right: -6.5rem;
}

#del-btn {
  cursor: pointer;
  fill: #e17055;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

#edit-btn {
  cursor: pointer;
  fill: #74b9ff;
  width: 1.5rem;
  height: 1.5rem;
}

.from-bottom {
  position: relative;
  animation: animatebottom 0.4s
}

@keyframes animatebottom {
  from {
    bottom: -15px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}